# Rythmbox

# process
	total_run_times 0 #run conky forever
	background no #daemon

# position
	alignment mm
	#gap_x 0
	#gap_y -12
#	maximum_width 500
	minimum_size 250

# engine
	double_buffer yes #reduces flicker
	text_buffer_size 256 #performance
	update_interval 1
	no_buffers yes #Subtract from used memory
	imlib_cache_size 0 #Force images redraw on change.

# window manager
	own_window_class conky
	own_window_title albumart

	own_window_transparent yes
	own_window_argb_visual no # no for semi transpancy
	own_window_argb_value 128

	own_window yes #required in Desktop Environment
	own_window_type normal
	own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager

# window
	draw_borders no
	border_width 1
	draw_graph_borders yes
	draw_outline no

	draw_shades yes
	border_inner_margin 0

#conky console
	out_to_console no
	out_to_stderr no
	out_to_ncurses no
	extra_newline no

#sample
	#cpu_avg_samples 2
	#net_avg_samples 2


#xft?
	use_xft yes
	override_utf8_locale no
	xftfont WenQuanYi Zenhei:size:12
	#Ubuntu:size=11
	xftalpha 0

# settings
	#use_spacer right
	#show_graph_scale no
	#show_graph_range no
	#pad_percents 0 #symbol spacing after numbers

# color
	default_color white
	default_shade_color black
	default_outline_color white

TEXT
${if_running rhythmbox}
#${image /home/rho/.cache/rhythmbox/album-art/000000a1 -s 250x250 -f 5}
${offset 260} ${exec rhythmbox-client --no-start --print-playing-format "%te / %td"}
${offset 260} ${exec rhythmbox-client --no-start --print-playing-format %tt}
${offset 260} ${exec rhythmbox-client --print-playing-format %aa}
${offset 260} ${exec rhythmbox-client --print-playing-format %at} \
(${exec rhythmbox-client --no-start --print-playing-format %ay})

${endif}